* {
  padding: 0;
  margin: 0;
  color: #45526c;
}

h1 {
  font-size: 45px;
  font-weight: 400;
  padding: 10px 0;
  text-align: center;
}

p {
  max-width: 400px;
  text-align: justify;
  padding: 20px 0;
}

.wrapper {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f5f1;
}

.inputs {
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 5px;
  font-size: 15px;
  font-weight: 500;
}
