* {
  padding: 0;
  margin: 0;
}

.wrapper {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputs {
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0.5rem;
}
